@page "/geolocations"
@attribute [TabItemOption(Text = "定位/持续定位")]

<a href="https://www.nuget.org/packages/BootstrapBlazor.Geolocation#readme-body-tab"><h3>定位/持续定位 Geolocation</h3></a>
<hr />
<a href="https://github.com/densen2014/Densen.Extensions/blob/master/Demo/DemoShared/Pages/GeolocationPage.razor"><h5>页面源码</h5></a>


<p>@message</p>

<Geolocations OnResult="@OnResult" OnUpdateStatus="@OnUpdateStatus" OnError="@OnError" />

<Badge Color="Color.Warning">@status</Badge>

<Table TItem="Geolocationitem" Items="Items" AutoGenerateColumns="true">
</Table>



<AttributeTable Items="@GetAttributes()" />
