@page "/MindMaps"
@attribute [TabItemOption(Text = "思维导图")]
@inherits AppComponentBase 
 
<a href="https://www.nuget.org/packages/BootstrapBlazor.MindMap#readme-body-tab"><h3>思维导图 MindMap</h3></a>
<hr />
<a href="https://github.com/densen2014/Densen.Extensions/blob/master/Demo/DemoShared/Pages/MindMaps.razor"><h5>页面源码</h5></a>

<!--<p>Tab:添加新节点</p>
<p>鼠标可拖动节点排列</p>

<MindMap @ref="MindMap" Options="Options" Data="@Data" OnReceive="@OnReceive" OnError="@OnError" StyleCss="height: 55vh;" />

<div class="row mt-3">
    <div class="col-12 mt-3">
        <Button Text="例子1" OnClick="Sample" />
        <Button Text="一周安排" OnClick="Sample2" />
        <Button Text="下载为PNG" OnClick="Export" />
        <Button Text="下载为json" OnClick="ExportJson" />-->
        @*<Button Text="导出PNG" OnClick="ExportPng" />*@
        <!--<Button Text="导出对象" OnClick="GetFullData" />
        <Button Text="导出json对象" OnClick="GetData" />
        <Button Text="导入数据(json)" OnClick="SetData" />
        <Button Text="复位" OnClick="Reset" />
    </div>
    <div class="col-12 col-sm-3 mt-3">
        <Select @bind-Value="Options.Layout" ShowLabel="true" />
    </div>
    <div class="col-12 col-sm-3 mt-3">
        <Select @bind-Value="Options.Theme" ShowLabel="true" />
    </div>
    <div class="col-12 mt-3">
        <Textarea @bind-Value="Message" rows="10" />
        <a href="https://github.com/wanglin2/mind-map/blob/main/simple-mind-map/example/exampleData.js?WT.mc_id=DT-MVP-5005078"><h6>数据示例</h6></a>
    </div>
</div>


<AttributeTable Items="@GetAttributes()" />

<AttributeTable Title="NodeData" Items="@GetAttributes()" />-->

 