@page "/screencapture"
@attribute [TabItemOption(Text = "截屏/录像")]
@using ZXingBlazor.Components

<a href="https://www.nuget.org/packages/BootstrapBlazor.WebAPI#readme-body-tab"><h3>截屏/录像</h3></a>
<hr />
<a href="https://github.com/densen2014/Densen.Extensions/blob/master/Demo/DemoShared/Pages/ScreenCapturePage.razor"><h5>页面源码</h5></a>

<p>@message</p>

<Tab IsOnlyRenderActiveTab IsLazyLoadTabItem ShowClose ShowExtendButtons>
    <TabItem Text="图像效果">
        <Capture @ref="Capture" ShowUI="false" OnCaptureResult="@OnCaptureResult" OnCapture="@OnCapture" OnDecode="OnResult" OnError="@OnError" Width=640 Height=480 Options="OptionsEff" />
        <RadioList IsButton="true" Color="Color.Success" @bind-Value="@Effect" OnSelectedChanged="@OnSelectedEffectChanged" />
        <Button Text="截图" OnClick='(async()=>await Capture.Start(effect:Effect,cmd:"takepicture"))' />
        <Button Text="主动扫码" OnClick='(async()=>await Capture.Start(effect:Effect,cmd:"decode"))' />

        <Switch @bind-Value="@EnableQR" ShowLabel="true" />
        @if (EnableQR)
        {
            <BarCodes @ref="barCodes" OnDecodeFromImage="OnResult" OnError="OnResult" Options="new ZXingOptions() { TRY_HARDER=true}" />
        }
        <h5>扫码: @Result</h5>

        <div @ref="Capture.Element">

            <div data-action="camera" class="camera3">
                <video data-action="video" class="video3">Video stream not available.</video>
            </div>
            <canvas data-action="canvas" class="canvas3"> </canvas>
            <img data-action="photo" class="photo3" alt="屏幕截图结果." />

            <div data-action="sourceSelectPanel" style="display:none">
                <label for="sourceSelect">选择设备:</label>
                <select data-action="sourceSelect" class="form-select form-control sourceSelect">
                </select>
            </div>

        </div>

    </TabItem>
    <TabItem Text="自定义UI">
        <Capture @ref="Capture" ShowUI="false" OnCaptureResult="@OnCaptureResult" OnError="@OnError" Width=1280 Height=720 />

        <div @ref="Capture.Element">

            <div data-action="camera" class="camera2">
                <video data-action="video" class="video2">Video stream not available.</video>
                <button data-action="startbutton" class="startbutton2">截图</button>
            </div>

            <div data-action="sourceSelectPanel" style="display:none">
                <label for="sourceSelect">选择设备:</label>
                <select data-action="sourceSelect" class="form-select form-control sourceSelect">
                </select>
            </div>

            <canvas data-action="canvas" class="canvas2"> </canvas>

            <div class="output">
                <img data-action="photo" class="photo2" alt="屏幕截图结果." />
            </div>

        </div>

    </TabItem>
    <TabItem Text="摄像头">
        @if (IsInit)
        {
            <div class="row g-10 mt-3">
                <div class="col-12 col-sm-4">

                    @switch (SelectedEnumItem)
                    {

                        case Cams.VGA:
                            <Capture OnCaptureResult="@OnCaptureResult" OnError="@OnError" />
                            break;

                        case Cams.HD:

                            <Capture OnCaptureResult="@OnCaptureResult" OnError="@OnError" Width=1280 Height=720 />
                            break;

                        case Cams.FHD:

                            <Capture OnCaptureResult="@OnCaptureResult" OnError="@OnError" Width=1920 Height=1080 />
                            break;

                        case Cams.QHD:

                            <Capture OnCaptureResult="@OnCaptureResult" OnError="@OnError" Width=2560 Height=1440 />
                            break;

                        case Cams.UHD:

                            <Capture OnCaptureResult="@OnCaptureResult" OnError="@OnError" Width=3840 Height=2160 />
                            break;
                    }

                    @*<Switch @bind-Value="@Cam1080" OnValueChanged="OnValueChanged" OnText="高清" OffText="标清" />*@
                    <br />
                    <RadioList IsButton="true" Color="Color.Success" @bind-Value="@SelectedEnumItem" OnSelectedChanged="@OnSelectedChanged" />
                </div>
            </div>
        }
        else
        {
            <Spinner Color="Color.Primary" />
        }
    </TabItem>
    <TabItem Text="窗口">
        <Capture OnCaptureResult="@OnCaptureResult" OnError="@OnError" Camera="false" />
    </TabItem>
    <TabItem Text="摄像头连续截图">
        <Capture OnCaptureResult="@OnCaptureResult" OnError="@OnError" Continuous="true" />
    </TabItem>
    <TabItem Text="窗口连续截图">
        <Capture OnCaptureResult="@OnCaptureResult" OnError="@OnError" Camera="false" Continuous="true" />
    </TabItem>
    <TabItem Text="debug">
        <Capture OnCaptureResult="@OnCaptureResult" OnError="@OnError" Debug />
    </TabItem>
</Tab>

<Switch @bind-Value="@EnableOCR" ShowLabel="true" />

@if (EnableOCR)
{
    <p></p>
    <p>附加OCR演示:</p>
    <OCR @ref="OCR" ShowUI="false" Debug="true" OnResult="OnResult" />
}

<AttributeTable Items="@GetAttributes()" />
