@page "/webapis"
@attribute [TabItemOption(Text = "浏览器Api")]

<a href="https://www.nuget.org/packages/BootstrapBlazor.WebAPI#readme-body-tab"><h3>系统信息</h3></a>
<hr />
<a href="https://github.com/densen2014/Densen.Extensions/blob/master/Demo/DemoShared/Pages/WebApiPage.razor"><h5>页面源码</h5></a>

<p>@message</p>

<WebApi OnBatteryResult="@OnBatteryResult" OnNetworkInfoResult="@OnNetworkInfoResult" OnUserAgentResult="OnUserAgentResult" OnError="@OnError" ShowInfo />

<h5>电池</h5>
<Table TItem="BatteryStatus" Items="batteryStatus" AutoGenerateColumns="true" />

<h5>网络</h5>
<Table TItem="NetworkInfoStatus" Items="networkInfoStatus" AutoGenerateColumns="true" />

<h5>浏览器信息</h5>
<Table TItem="UAInfo" Items="UAInfos" AutoGenerateColumns="true" />

<AttributeTable Items="@GetAttributes()" />
