@page "/WebSerials"
@attribute [TabItemOption(Text = "串行设备 WebSerial")]

<a href="https://www.nuget.org/packages/BootstrapBlazor.WebApi#readme-body-tab"><h4>WebSerial</h4></a>

<hr/>
<a href="https://github.com/densen2014/Densen.Extensions/blob/master/Demo/DemoShared/Pages/WebSerialPage.razor"><h4>页面源码</h4></a>

<a href="https://github.com/densen2014/Densen.Extensions/blob/master/Demo/Receive_DSP.ino"><h4>Arduino源码</h4></a>

<h6>(连接设备后再执行操作)</h6>

<span>
    基本用法
</span>

<div class="row g-3">
    <WebSerial OnReceive="@OnReceive" OnLog="@OnLog" OnError="@OnError" />
</div>
<p />
<p />
<p />
<p />
<GroupBox Title="自定义参数">
    <div class="col-4">
        <Select Color="Color.Primary" Items="BaudRateList" @bind-Value="@SelectedBaudRate" ShowLabel="true" />
    </div>
    <div class="col-4">
        <BootstrapInputNumber Color="Color.Primary" @bind-Value="@options.BufferSize" ShowLabel="true" />
    </div>
    <div class="col-4">
        <Select Color="Color.Primary" @bind-Value="@options.ParityType" ShowLabel="true" />
    </div>
    <div class="col-4">
        <Select Color="Color.Primary" @bind-Value="@options.FlowControlType" ShowLabel="true" />
    </div>
    @if (Flag)
    {
        <div class="col-6">
            <WebSerial @ref="WebSerial" OnReceive="@OnReceive" OnLog="@OnLog" OnError="@OnError" Options="@options" Debug ShowUI="false" />
        </div>

        <div @ref="WebSerial.Element">
            <Button data-action="butConnect">连接</Button>
            <input type="text" data-action="fname" />
            <Button data-action='butwrite'>写入</Button>

        </div>
        <pre data-action="log"></pre>

        <div class="col-6">
            <Button Text="断开" OnClick="OnApply" Icon="fa-fw fa-solid fa-stop" />
        </div>
    }
    else
    {
        <div class="col-6">
            <Button Text="应用" OnClick="OnApply" Icon="fa-fw fa-solid fa-play" />
        </div>
    }
</GroupBox>

<pre>@message</pre>
<pre style="color:green">@statusmessage</pre>
<pre style="color:red">@errmessage</pre>
<hr />

<AttributeTable Items="@GetAttributes()" />

<AttributeTable Title="串口选项 Options" Items="@GetWebSerialOptionsAttributes()" />

